<a href="https://colab.research.google.com/github/alamsyaah92/Tugas-Kapsel/blob/main/PreProcessing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
pip install Sastrawi

Requirement already satisfied: Sastrawi in /usr/local/lib/python3.7/dist-packages (1.0.1)

In [27]:
!git clone https://github.com/alamsyaah92/Tugas-Kapsel.git

Cloning into 'Tugas-Kapsel'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 15 (delta 9), reused 14 (delta 8), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [30]:
!ls

aa  sample_data  Tugas-Kapsel

In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import nltk 
import string
import re
import json

In [41]:
def load_data():
    data1 = pd.read_json('/content/Tugas-Kapsel/denmarkopen.json', lines = True)
    data2 = pd.read_json('/content/Tugas-Kapsel/indonesiaopen.json', lines = True)
    data3 = pd.read_json('/content/Tugas-Kapsel/frenchopen.json', lines = True)
    data4 = pd.read_json('/content/Tugas-Kapsel/kevinmarcus.json', lines = True)
    data = pd.concat([data1,data2,data3,data4])
    return data

tweet_df = load_data()
tweet_df.head(10)

                 created_at  ...  quoted_status
0 2021-11-01 08:21:01+00:00  ...            NaN
1 2021-11-01 08:17:43+00:00  ...            NaN
2 2021-11-01 08:17:03+00:00  ...            NaN
3 2021-11-01 08:15:18+00:00  ...            NaN
4 2021-11-01 08:04:42+00:00  ...            NaN
5 2021-11-01 07:56:48+00:00  ...            NaN
6 2021-11-01 07:45:56+00:00  ...            NaN
7 2021-11-01 07:36:52+00:00  ...            NaN
8 2021-11-01 07:34:45+00:00  ...            NaN
9 2021-11-01 07:32:07+00:00  ...            NaN

[10 rows x 31 columns]

In [43]:
df  = pd.DataFrame(tweet_df[['created_at','id','id_str','full_text','truncated','display_text_range','entities','metadata','source','in_reply_to_status_id','in_reply_to_status_id_str','in_reply_to_user_id','in_reply_to_user_id_str','in_reply_to_screen_name','user','geo','coordinates','place','contributors','retweeted_status','is_quote_status','retweet_count','favorite_count','favorited','retweeted','lang','possibly_sensitive','quoted_status_id','quoted_status_id_str','extended_entities','quoted_status']])

In [44]:
df.drop(df.columns[[0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,23,24,25,26,27,28,29,30]], axis = 1, inplace = True)
df

                                               full_text  ...  favorite_count
0      RT @nzzzzzt: @jemapelleiche padahal mah dari d...  ...               0
1      RT @itsmefayy: seperti ngikutin mereka waktu b...  ...               0
2      RT @marcellktsr: Membandingkan performa Kevin/...  ...               0
3      RT @itsmefayy: seperti ngikutin mereka waktu b...  ...               0
4      @badmintonnfess9 WTF itu pertandingan final da...  ...               0
...                                                  ...  ...             ...
11995  RT @BadmintonTalk: Marcus Fernaldi Gideon/Kevi...  ...               0
11996  RT @INABadminton: What a match!\n\nSelamat Mar...  ...               0
11997  RT @Destangreys: Setelah lama tidak ketemu di ...  ...               0
11998  RT @putrategar2709: Kevin/Marcus vs Fajar/Rian...  ...               0
11999  RT @detikcom: Kevin Sanjaya Sukamuljo/Marcus F...  ...               0

[34883 rows x 3 columns]

In [45]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt    
df['remove_user'] = np.vectorize(remove_pattern)(df['full_text'], "@[\w]*")
df.head(5)

                                           full_text  ...                                        remove_user
0  RT @nzzzzzt: @jemapelleiche padahal mah dari d...  ...  RT :  padahal mah dari denmark open sampe fren...
1  RT @itsmefayy: seperti ngikutin mereka waktu b...  ...  RT : seperti ngikutin mereka waktu baru lahir ...
2  RT @marcellktsr: Membandingkan performa Kevin/...  ...  RT : Membandingkan performa Kevin/Gideon hari ...
3  RT @itsmefayy: seperti ngikutin mereka waktu b...  ...  RT : seperti ngikutin mereka waktu baru lahir ...
4  @badmintonnfess9 WTF itu pertandingan final da...  ...   WTF itu pertandingan final dari world tour. N...

[5 rows x 4 columns]

In [46]:
def remove(tweet):
    tweet = re.sub('[0-9]+', '', tweet)
    
    tweet = re.sub(r'\$\w*', '', tweet)
 
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    
    tweet = re.sub(r'#', '', tweet)
    return tweet
df['remove_http'] = df['remove_user'].apply(lambda x: remove(x))
df.head(5)

                                           full_text  ...                                        remove_http
0  RT @nzzzzzt: @jemapelleiche padahal mah dari d...  ...  :  padahal mah dari denmark open sampe french ...
1  RT @itsmefayy: seperti ngikutin mereka waktu b...  ...  : seperti ngikutin mereka waktu baru lahir ras...
2  RT @marcellktsr: Membandingkan performa Kevin/...  ...  : Membandingkan performa Kevin/Gideon hari ini...
3  RT @itsmefayy: seperti ngikutin mereka waktu b...  ...  : seperti ngikutin mereka waktu baru lahir ras...
4  @badmintonnfess9 WTF itu pertandingan final da...  ...   WTF itu pertandingan final dari world tour. N...

[5 rows x 5 columns]

In [47]:
df.sort_values("remove_http", inplace = True)
df

                                              full_text  ...                                        remove_http
372   2021 \nAll england - Jepang juara umum 4 sekto...  ...   \nAll england - Jepang juara umum  sektor\nDe...
1212  2021 \nAll england - Jepang juara umum 4 sekto...  ...   \nAll england - Jepang juara umum  sektor\nDe...
993   2019 \nPramel yg berjaya di tur Eropa\nJuara D...  ...   \nPramel yg berjaya di tur Eropa\nJuara Denma...
7678  @infolomba_indo @InfoLombaID @event_mahasiswa ...  ...      \n\n[OPEN REGISTRASI ACCOUNTING FESTIVAL  ...
7956  @awkasurr @echialfahri @ElysianFiona @indgoren...  ...                 Adooohüò≠üò≠\nMski ntr di Indonesia...
...                                                 ...  ...                                                ...
5192  üîÆ OPEN REGISTRATION üîÆ\n          KELAS BEBAS \...  ...  üîÆ OPEN REGISTRATION üîÆ\n          KELAS BEBAS \...
97    üî∞OPEN PROMOTE üî∞\n\n Wadah pemersatu akun" ‚ô• NK...  ...  üî∞OPEN PROMOTE üî∞\n\n Wadah pemersatu akun" ‚ô• NK...
5146  üòãSugar &amp; Spiceüòã\nSaksikan masakan koki di ...  ...  üòãSugar &amp; Spiceüòã\nSaksikan masakan koki di ...
3031  üò≠üò≠gak tau kenapa setiap Kevin/Marcus kalah itu...  ...  üò≠üò≠gak tau kenapa setiap Kevin/Marcus kalah itu...
8694  üò±‚ö°Ô∏è\n\nMarcus Fernaldi GIDEON / Kevin Sanjaya ...  ...  üò±‚ö°Ô∏è\n\nMarcus Fernaldi GIDEON / Kevin Sanjaya ...

[34883 rows x 5 columns]

In [48]:
df.drop_duplicates(subset ="remove_http", keep = 'first', inplace = True)
df

                                              full_text  ...                                        remove_http
372   2021 \nAll england - Jepang juara umum 4 sekto...  ...   \nAll england - Jepang juara umum  sektor\nDe...
993   2019 \nPramel yg berjaya di tur Eropa\nJuara D...  ...   \nPramel yg berjaya di tur Eropa\nJuara Denma...
7678  @infolomba_indo @InfoLombaID @event_mahasiswa ...  ...      \n\n[OPEN REGISTRASI ACCOUNTING FESTIVAL  ...
7956  @awkasurr @echialfahri @ElysianFiona @indgoren...  ...                 Adooohüò≠üò≠\nMski ntr di Indonesia...
1315  @telunjukAndin @aldebucinhadir @awkasurr @halu...  ...                 Bkin jantung kagak amanüò≠üò≠\nBisa...
...                                                 ...  ...                                                ...
5192  üîÆ OPEN REGISTRATION üîÆ\n          KELAS BEBAS \...  ...  üîÆ OPEN REGISTRATION üîÆ\n          KELAS BEBAS \...
97    üî∞OPEN PROMOTE üî∞\n\n Wadah pemersatu akun" ‚ô• NK...  ...  üî∞OPEN PROMOTE üî∞\n\n Wadah pemersatu akun" ‚ô• NK...
5146  üòãSugar &amp; Spiceüòã\nSaksikan masakan koki di ...  ...  üòãSugar &amp; Spiceüòã\nSaksikan masakan koki di ...
3031  üò≠üò≠gak tau kenapa setiap Kevin/Marcus kalah itu...  ...  üò≠üò≠gak tau kenapa setiap Kevin/Marcus kalah itu...
8694  üò±‚ö°Ô∏è\n\nMarcus Fernaldi GIDEON / Kevin Sanjaya ...  ...  üò±‚ö°Ô∏è\n\nMarcus Fernaldi GIDEON / Kevin Sanjaya ...

[8194 rows x 5 columns]

In [49]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [50]:
#import stopword
from nltk.corpus import stopwords 
stopwords_indonesia = stopwords.words('indonesian')
 
#import sastrawi
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

#tokenize
from nltk.tokenize import TweetTokenizer
 
# Happy Emoticons
emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])
 
# Sad Emoticons
emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])
 
# all emoticons (happy + sad)
emoticons = emoticons_happy.union(emoticons_sad)
 
def clean_tweets(tweet):
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
 
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
 
    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)
    
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    
    #remove coma
    tweet = re.sub(r',','',tweet)
    
    #remove angka
    tweet = re.sub('[0-9]+', '', tweet)
 
    # tokenize tweets
    tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)
    tweet_tokens = tokenizer.tokenize(tweet)
 
    tweets_clean = []    
    for word in tweet_tokens:
        if (word not in stopwords_indonesia and # remove stopwords
              word not in emoticons and # remove emoticons
                word not in string.punctuation): # remove punctuation
            #tweets_clean.append(word)
            stem_word = stemmer.stem(word) # stemming word
            tweets_clean.append(stem_word)
 
    return tweets_clean
df['tweet_clean'] = df['remove_http'].apply(lambda x: clean_tweets(x))

In [51]:
df

                                              full_text  ...                                        tweet_clean
372   2021 \nAll england - Jepang juara umum 4 sekto...  ...  [all, england, jepang, juara, sektor, denmark,...
993   2019 \nPramel yg berjaya di tur Eropa\nJuara D...  ...  [pramel, yg, jaya, tur, eropa, juara, denmark,...
7678  @infolomba_indo @InfoLombaID @event_mahasiswa ...  ...  [open, registrasi, accounting, festival, buka,...
7956  @awkasurr @echialfahri @ElysianFiona @indgoren...  ...  [adoooh, , , mski, ntr, indonesia, open, nyese...
1315  @telunjukAndin @aldebucinhadir @awkasurr @halu...  ...  [bkin, jantung, kagak, aman, , , yok, , menang...
...                                                 ...  ...                                                ...
5192  üîÆ OPEN REGISTRATION üîÆ\n          KELAS BEBAS \...  ...  [, open, registration, , kelas, bebas, ajar, b...
97    üî∞OPEN PROMOTE üî∞\n\n Wadah pemersatu akun" ‚ô• NK...  ...  [, open, promote, , wadah, satu, akun, , nkriy...
5146  üòãSugar &amp; Spiceüòã\nSaksikan masakan koki di ...  ...  [, sugar, spice, , saksi, masakan, koki, open,...
3031  üò≠üò≠gak tau kenapa setiap Kevin/Marcus kalah itu...  ...  [, , gak, tau, kevin, marcus, kalah, serasa, s...
8694  üò±‚ö°Ô∏è\n\nMarcus Fernaldi GIDEON / Kevin Sanjaya ...  ...  [, , , marcus, fernaldi, gideon, kevin, sanjay...

[8194 rows x 6 columns]

In [52]:
def remove_punct(text):
    text  = " ".join([char for char in text if char not in string.punctuation])
    return text
df['Tweet'] = df['tweet_clean'].apply(lambda x: remove_punct(x))

In [53]:
df

                                              full_text  ...                                              Tweet
372   2021 \nAll england - Jepang juara umum 4 sekto...  ...  all england jepang juara sektor denmark open j...
993   2019 \nPramel yg berjaya di tur Eropa\nJuara D...  ...  pramel yg jaya tur eropa juara denmark open fr...
7678  @infolomba_indo @InfoLombaID @event_mahasiswa ...  ...  open registrasi accounting festival buka mahas...
7956  @awkasurr @echialfahri @ElysianFiona @indgoren...  ...  adoooh mski ntr indonesia open nyesek bgt yak ...
1315  @telunjukAndin @aldebucinhadir @awkasurr @halu...  ...  bkin jantung kagak aman yok menang yook biar b...
...                                                 ...  ...                                                ...
5192  üîÆ OPEN REGISTRATION üîÆ\n          KELAS BEBAS \...  ...  open registration kelas bebas ajar bahasa isya...
97    üî∞OPEN PROMOTE üî∞\n\n Wadah pemersatu akun" ‚ô• NK...  ...  open promote wadah satu akun nkriyukk maju dun...
5146  üòãSugar &amp; Spiceüòã\nSaksikan masakan koki di ...  ...  sugar spice saksi masakan koki open show kitch...
3031  üò≠üò≠gak tau kenapa setiap Kevin/Marcus kalah itu...  ...  gak tau kevin marcus kalah serasa sedihhh bang...
8694  üò±‚ö°Ô∏è\n\nMarcus Fernaldi GIDEON / Kevin Sanjaya ...  ...  marcus fernaldi gideon kevin sanjaya sukamuljo...

[8194 rows x 7 columns]

In [54]:
df.sort_values("Tweet", inplace = True)
df

                                              full_text  ...                                              Tweet
7097  https://t.co/qvf0xaogf7 Daftar Wakil Indonesia...  ...
2916  https://t.co/qvf0xaogf7 Jadwal Siaran Langsung...  ...
4172  https://t.co/qvf0xaogf7 Hasil Lengkap French O...  ...
7146  https://t.co/qvf0xaogf7 French Open, Pujian He...  ...
7145  https://t.co/qvf0xaogf7 Final French Open 2021...  ...
...                                                 ...  ...                                                ...
3897  ywaahh harus mengakui keunggulan korea huhu, g...  ...  ywaahh aku unggul korea huhu gapapa semangat k...
1647  RT @rezadwisantosa: Dari zaman dulu, sebelum a...  ...  zaman manusia open minded lgbt indonesia aman ...
4075  Zheng/Huang pasangan wd gado-gado sudirman cup...  ...  zheng huang pasang wd gado sudirman cup hasil ...
5046  zii jia kena rest lama sikit do. rasa cam saar...  ...  zii jia kena rest sikit do cam saarlorlux open...
5036  aku rasa zii jia nak rehat kot sebab nak focus...  ...  zii jia nak rehat kot nak focus next tournamen...

[8194 rows x 7 columns]

In [55]:
df.drop(df.columns[[0,1,2,3,4,5]], axis = 1, inplace = True)
df

                                                  Tweet
7097
2916
4172
7146
7145
...                                                 ...
3897  ywaahh aku unggul korea huhu gapapa semangat k...
1647  zaman manusia open minded lgbt indonesia aman ...
4075  zheng huang pasang wd gado sudirman cup hasil ...
5046  zii jia kena rest sikit do cam saarlorlux open...
5036  zii jia nak rehat kot nak focus next tournamen...

[8194 rows x 1 columns]

In [56]:
df.drop_duplicates(subset ="Tweet", keep = 'first', inplace = True)
df

                                                  Tweet
7097
3562        --- nonton final denmark open nonton motogp
3504  a thread cerita bucin bgt sm warga ciumbrella ...
4189  aaa geram ya allah haritu orang dah called out...
1040  aaa msh blum rezeki indonesia french open kali...
...                                                 ...
3897  ywaahh aku unggul korea huhu gapapa semangat k...
1647  zaman manusia open minded lgbt indonesia aman ...
4075  zheng huang pasang wd gado sudirman cup hasil ...
5046  zii jia kena rest sikit do cam saarlorlux open...
5036  zii jia nak rehat kot nak focus next tournamen...

[6859 rows x 1 columns]

In [57]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Clean-Text-Twitter.txt', index=False)